html{
  font-size: 14px;
}
@font-face {
    font-family: 'lobster';
    src: url('./Lobster-Regular_hototogis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: Quicksand, 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-weight: normal;
  color: #212121;
  background-color: #;
}

video {
  max-width: 100%;
  height: auto;
}

/* Header area */
.header {
  width: 100%;
  height: 50px;
  background-color: #558B2F;
}

.app-name {
  margin-top: 12px;
  text-align: center;
  font-family: lobster;
  font-size: 1.5em;
  color: #FAFAFA;
}

.content {
  flex: 1;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  height: 100%;
}

.main {
  display: flex;
  flex: 2;
  -webkit-flex-direction: column;
  flex-direction: column;
  top: 50px;
  max-width: 640px;
}

.side {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  top: 50px;
  flex: 1;
}

.viewer {
  width: 100%;
  height: auto;
  background-color: #212121;
}

.comments {
  flex: 1;
}

.currentSlide {
  height: 325px;
}

.slides {
  flex: 1;
}

@media screen and (max-width: 650px) {
  .content {
    flex: 1;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .main {
  }

  .side {
  }

  .viewer {
    width: 100%;
    height: auto;
    background-color: #212121;
  }

  .comments {
    flex: 1;
  }

  .currentSlide {
    height: 325px;
  }

  .slides {
    flex: 1;
  }
}

.card {
  margin: 5px;
  padding 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
